<main class="container">
    <h1>Administration Panel</h1>
    <h3>Doctors/Medical Office App</h3>
    <a href="@Url.Action("Index", "Doctors")" class="btn btn-primary">Doctors</a> <a href="@Url.Action("Index", "Patients")" class="btn btn-primary">Patients</a>
    <hr />
    <h3>Music Store App</h3>
    <a href="@Url.Action("Index", "Albums")" class="btn btn-primary">Albums</a> <a href="@Url.Action("Index", "Artists")" class="btn btn-primary">Artists</a>
    <hr />
    <h3>Business Apps</h3>
    <a href="@Url.Action("Index", "SalesData")" class="btn btn-primary">Product Sales By Year</a> <a href="@Url.Action("Index", "SalesPersonSales")" class="btn btn-primary">Sales Person Sales</a>
    <hr />
    <h3>Web Services</h3>
    <a href="~/Help" class="btn btn-primary">Web API</a>
</main>


